<!--New-Zoom-Crousal-by Sangrai-->
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" media="all">
<link href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css" rel="stylesheet" media="all">
<div class="container-fluid">
    <div class="row">
        <div id="sg-carousel" class="carousel slide carousel-fade" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carousel" data-slide-to="0" class="active"></li>
                <li data-target="#carousel" data-slide-to="1" class=""></li>
                <li data-target="#carousel" data-slide-to="2" class=""></li>
                <li data-target="#carousel" data-slide-to="3" class=""></li>
            </ol>
            <!-- Carousel items -->
            <div class="carousel-inner carousel-zoom">
                <div class="item active"><img class="img-responsive" src="http://oqr2tkodq.bkt.clouddn.com/header.jpg" alt="">
                    <div class="carousel-caption">
                        <h1  data-animation="animated zoomInLeft" class="cap-txt ">信息共享 互帮互助 </h1>
                        <p data-animation="animated bounceInDown">希望借由这个网站，让大家找到邻里间可靠的资源。</p>
                    </div>
                </div>
                <div class="item"><img class="img-responsive" src="http://oqr2tkodq.bkt.clouddn.com/pic-2.jpg" alt="">
                    <div class="carousel-caption">
                        <h1 data-animation="animated zoomInLeft" class="cap-txt">有时候我们三头六臂</h1>
                        <p data-animation="animated bounceInDown">忙得团团转</p>
                    </div>
                </div>
                <div class="item"><img class="img-responsive" src="http://oqr2tkodq.bkt.clouddn.com/pic-3.jpg" alt="">
                    <div class="carousel-caption animated slideInLeft">
                        <h1 data-animation="animated zoomInLeft" class="cap-txt">希望借这个平台</h1>
                        <p data-animation="animated bounceInDown">让我们 照顾好家人</p>
                    </div>
                </div>
                <!-- Carousel nav -->
                <a class="carousel-control left" href="#sg-carousel" data-slide="prev">‹</a>
                <a class="carousel-control right" href="#sg-carousel" data-slide="next">›</a>
            </div>
        </div>
    </div>
    <!--===== 服务优势 =====-->
    <section class="service-box">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <h2>建设初衷：如果让楼上楼下的叔叔阿姨给做下饭，包包子饺子，帮忙下家里，多好！</h2>
                <!-- 副标题 -->
                <div class="short-line"></div>
                <!-- 分隔线 -->
                <div class="row">
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="box">
                            <%= image_tag("https://ws2.sinaimg.cn/large/006tNbRwgy1fg9b29cbxzj307m054748.jpg") %> <!-- 图示 -->
                            <h3>可靠安全</h3>
                            <!-- 标题 -->
                            <p>用户经过户主身份认证，才可发布信息，邻里熟识</p>
                            <!-- 内文 -->
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="box">
                            <%= image_tag("https://ws3.sinaimg.cn/large/006tNbRwgy1fg9b67pkzej307n053wee.jpg") %>
                            <h3>互惠互助</h3>
                            <p>传达你的需求，找到可靠的邻里资源，解决问题</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="box">
                            <%= image_tag("https://ws2.sinaimg.cn/large/006tNbRwgy1fg9bckxex2j306i05z3yi.jpg") %>
                            <h3>信息共享</h3>
                            <p>分享好的东东，信息，共建和谐家园</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--===== 商品分类 =====-->
    <section class="categories-box">
        <div class="row">
            <div class="col-md-6 category-content">
                <%= link_to products_path , class: "category_1" do %> <!-- 分类连结 -->
                    <div class="category-box">
                        <%= image_tag("https://ws2.sinaimg.cn/large/006tNbRwgy1fg9bckxex2j306i05z3yi.jpg") %> <!-- 分类图片 -->
                    </div>
                    <div>
                        <h3>莱圳家园信息</h3>
                        <!-- 分类标题 -->
                        <p>你要找什么，有什么需求，你提供什么，最近小区的热点，在这里发布</p>
                        <!-- 分类介绍 -->
                    </div>
                <% end %>
            </div>
            <div class="col-md-6 category-content">
                <%= link_to products_path , class: "category_2" do %>
                    <div class="category-box">
                        <%= image_tag("https://ws1.sinaimg.cn/large/006tNbRwgy1fg9e7dedhzj3069069jrd.jpg") %>
                    </div>
                    <div>
                        <h3>好东东</h3>
                        <p>好东东推荐给大家，买！卖！东西啦。。。。。。。</p>
                    </div>
                <% end %>
            </div>
        </div>
    </section>
